<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
      Name="NeuroShell"
      Manufacturer="Abneesh Singh"
      Version="4.1.5"
      UpgradeCode="{3AABDE41-223D-4DE2-96F2-5A2F1F8D43A1}"
      Scope="perUser"
      Language="1033"
      Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="A newer version of NeuroShell is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="C:/Users/lenovo/Desktop/LLM model train/neuroshell/release/LICENSE.rtf" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />


    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="USERPROGRAMSFOLDER" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="NeuroShell" />
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="C:/Users/lenovo/Desktop/LLM model train/neuroshell/dist_fresh/NeuroShell/**" />
    </ComponentGroup>

    <Feature Id="MainFeature" Title="NeuroShell" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Package>
</Wix>
